<!-- edit form for book -->
<h1 class="page-header">Edit Book</h1>
<form action="/books/<%= book.id %>?_method=PUT" method="post">
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <br>
    <button type="submit">Update</button>
</form>