<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- ??? -->
    <title>Mybrary</title>
</head>
<body>
    <!-- all the code inside application goes here -->
    <!-- before and after our page -->
    Before
    <br>
    <!-- include every single of other pages in application ??? -->
    <%- body %>
    <br>
    After
</body>
</html>