<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- ??? -->

    <!-- filepond stylesheets -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

    <!-- font stylesheets -->
    <link id="main-css" href="/stylesheets/main.css" rel="stylesheet">

    <title>Mybrary</title>
</head>
<body>
    <div class="container">
        <!-- all the code inside application goes here -->
        <%- include('../partials/header.ejs') %>
        
        <div class="inner-container">
            <% if (typeof errorMessage !== 'undefined' && errorMessage) { %> 
                <%- include('../partials/errorMessage.ejs', { errorMessage: errorMessage, books : typeof books !== 'undefined' ? books : [] }) %>
            <% } %>
    
            <!-- include every single of other pages in application ??? -->
            <%- body %>
        </div>
        
        <br>
    </div>
    

    <!-- set up filepond library -->
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script>
        // const inputElement = document.querySelector('input[type="file"]');
    
        // const pond = FilePond.create(inputElement);
        
        const rootStyles = window.getComputedStyle(document.documentElement); // getting the style from the root element of document

        // ???
        if(rootStyles.getPropertyValue('--book-cover-width-large') != null) {
            ready();
        } else {
            document.getElementById('main-css')
                .addEventListener('load', ready);
        }

        function ready() {
            // ???
            const coverWidth = parseFloat(rootStyles.getPropertyValue('--book-cover-width-large')); // actually returns a string and the parsed to float

            // ???
            const coverAspectRatio = parseFloat(rootStyles.getPropertyValue('--book-cover-aspect-ratio'));

            // ???
            const coverHeight = coverWidth / coverAspectRatio;
                
            FilePond.registerPlugin(
                FilePondPluginFileEncode,
                FilePondPluginImagePreview,
                FilePondPluginImageResize
            );

            FilePond.setOptions({
                stylePanelAspectRatio: 1 / coverAspectRatio, // based on what expected by filepond???
                imageResizeTargetWidth: coverWidth,
                imageResizeTargetHeight: coverHeight
            });

            FilePond.parse(document.body);

        }
        
    </script>

    
</body>
</html>