:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

.header-title {
    color: var(--color-text-light);
    text-decoration: none; /* remove underline in anchors */
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav {
    display: flex; /* set the element side by side */
    flex-wrap: wrap; /* specify the flex type */
    justify-content: space-between; /* add space between the header title on the left and the header links on the right handside  */
    align-items: center; /* align links in the right center vertically with the */
    margin-bottom: 5rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
}

/* anchors in li tag */
.header-nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
    color: white;
}