<!-- underscore is just a naming convention for indicating it's a partial file and not an actual file to be rendered -->

<label for="">Name</label>
<input type="text" name="name" value="<%= author.name %>">